<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">


<head>
    <script>
        $(function (){

            $("#loginBtn").click(function (){
                event.preventDefault();
                let login = {
                    "email" : $("#email").val(),
                    "password" : $("#password").val()

                }
                console.log(login);

                $.ajax({
                    type:"post",
                    url:"/user/login",
                    contentType : "application/json",
                    data:JSON.stringify(login),
                    success : function (data){
                        if (data== true){
                            const referrer = document.referrer;
                            if (referrer && referrer.includes(window.location.host)) {
                                window.location.href = referrer; // Go back only if the referrer is from the same website
                            } else {
                                window.location.href = "/home"; // Redirect to a default page
                            }
                        }else {
                            $("#failMsg").html("<h6 style='color:red;'>아이디와 패스워드를 확인하세요.</h6>");
                        }
                    }
                });
            });
        })

    </script>

</head>

<body>

<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
<section class="contact spad" align="center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5 align="center">로그인</h5>
                    </div>
                    <div class="contact__form">
                        <form>
                            <input type="text" name="email" id="email" placeholder="아이디(이메일)">
                            <input type="password" name="isValidPasswordMsg" id="password" placeholder="비밀번호">
                            <span id="failMsg" ></span>
                            <button type="submit" class="site-btn" id="loginBtn">로그인</button>
                        </form>
                    </div>
                    <div align="right">
                        <a th:href="@{/user/sign-up}" style="color: black">회원가입 하기</a>
                    </div><br>
<!--                    <div align="center">-->
<!--                        <button type="submit" class="site-btn" id="loginBtn">로그인</button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>


</div>
</body>

</html>