<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

  <head>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script>
      $(function (){

        // $("form").submit(function (){
        //
        //
        //
        // });
        $("#removeBtn").click(function (){
          console.log("누름");
          let removeMsg =$("#removeMsg").text();
          let removeMsgCheck =$("#removeMsgCheck").val();
          if (removeMsgCheck != removeMsg){
            $("#isRemoveMsg").html("<span style='color:green;'>메시지가 일치하지 않습니다.</span>");
            $("#isRemoveMsg").focus();
              return;
          }else {
            $("#isRemoveMsg").html("");
          }
          let user = {
            "email" : $("#email").val(),
            "password" : $("#password").val()
          }

          $.ajax({

            type:"post",
            url:"/user/profile-remove",
            contentType : "application/json",
            data:JSON.stringify(user),
            success : function (data){
              if (data==true){
                location.href="/user/login"
              }else {
                $("#isPasswordCheckMsg").html("<span style='color:red;'>비밀번호를 다시 확인해주세요</span>");
              }
            }

          });


        });

      })


    </script>
  </head>

  <body>
  <div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <div class="breadcrumb__links">
              <a href="../home.html"><i class="fa fa-home"></i> Home</a>
              <a href="profile.html">마이페이지</a>
              <span>회원탈퇴</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="shop__sidebar">
              <div>
                <div class="section-title">
                  <h4>MyPage</h4>
                </div>
                <div class="categories__accordion">
                  <div class="accordion" id="accordionExample">
                    <div class="card-heading">
                      <a th:href="@{/user/profile}">내 정보</a>
                    </div>
                    <br />
                    <div class="card-heading">
                      <a th:href="@{/user/profile-update}">회원정보 수정</a>
                    </div>
                    <br />
                    <div class="card-heading">
                      <a th:href="@{/user/profile-remove}">회원탈퇴</a>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="row">
              <div class="contact__form">
                <h5>회원 탈퇴</h5>
                <form>
                  <input type="text" th:value="${userDTO.name}" placeholder="이름" disabled/>
                  <input type="text" id="email" placeholder="이메일@이메일" th:value="${userDTO.email}" disabled />
                  <input type="text" placeholder="닉네임" th:value="${userDTO.nickname}" disabled/>
                  <input type="text" id="password" name="password" placeholder="비밀번호 확인"/>
                  <span id="isPasswordCheckMsg"></span>
                  <p style="color: red" id="removeMsg" th:text="|${userDTO.email}/회원탈퇴하겠습니다.|"></p>
                  <input
                    type="text"
                    id="removeMsgCheck"
                    placeholder="탈퇴 진행을 위해 위에 메시지 동일하게 작성해주세요"
                  />
                  <p><span id="isRemoveMsg"></span></p>
                  <button type="button" id="removeBtn" class="site-btn">탈퇴하기</button>
                </form>
              </div>
              <!-- Shop Cart Section Begin -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shop Section End -->

  </div>
  </body>
</html>
