<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <script th:inline="javascript">
        let selectedCategoryId = [[${selectedCategoryId}]];  // The categoryId is passed from the controller
        let keyword = [[${keyword}]];
    </script>
    <script>
        $(document).ready(function () {
            // Set the selected category based on the categoryId
            if (selectedCategoryId != null) {
                $("select[name='categoryId']").val(selectedCategoryId);
            }
            if(keyword != null) {
                $("#searchBoxKeyword").val(keyword);
            }

            applyTaskStatusColors();
            function applyTaskStatusColors() {
                $(".taskStatusSpan").each(function () {
                    let taskStatus = $(this).data("tstatus"); // Ensure this matches the data attribute in HTML

                    switch (taskStatus) {
                        case "진행전":
                            $(this).css("background", "#d3d3d3"); // Light Gray
                            break;
                        case "진행중":
                            $(this).css("background", "#28a745"); // Green
                            break;
                        case "완료":
                            $(this).css("background", "#007bff"); // Blue
                            break;
                        case "실패":
                            $(this).css("background", "#dc3545"); // Red
                            break;
                        default:
                            $(this).css("background", "grey");
                    }
                });
            }

            applyCategoryColor();
            function applyCategoryColor() {
                $(".categoryNmSpan").each(function () {
                    // Get the category name from the data attribute
                    let categoryNm = $(this).data('category').trim();
                    // Change the background color based on the category name
                    switch (categoryNm) {
                        case "학업":
                            $(this).css("background", "#ED2A2AFF");
                            break;
                        case "건강":
                            $(this).css("background", "green");
                            break;
                        case "자격증":
                            $(this).css("background", "purple");
                            break;
                        case "취미":
                            $(this).css("background", "blue");
                            break;
                        case "기타":
                            $(this).css("background", "lightgray");
                            break;
                        default:
                            $(this).css("background", "lightgray");
                    }
                });
            }

            $(".page-link").click(function () {
                let page = $(this).data('page');
                let keyword = "[[${keyword}]]";
                let categoryId = "[[${categoryId}]]";
                console.log("카테고리 + " + categoryId);
                $.ajax({
                    url: "/task/task-list-nextpage",
                    type: "POST",
                    data: { page: page,
                            keyword: keyword,
                            categoryId: categoryId},
                    success: function (mainTaskList) {
                        // Assuming `mainTaskList` is an array of objects containing the task details
                        let tableBody = $("#taskList"); // Target the table body (adjust selector as needed)

                        // Iterate over the response and append rows
                        let taskListHtml = "";
                        mainTaskList.forEach(task => {

                            taskListHtml += `
                            <tr>
                                <td class="cart__product__item">
                                    <div class="cart__product__item__title">
                                        <a href="/task/task-detail?mainTaskId=${task.mainTaskId}"
                                           >${task.mainSubject}</a>
                                    </div>
                                    <span
                                          class="categoryNmSpan"
                                          data-category="${task.categoryNm}"
                                          style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 10px;">
                                        ${task.categoryNm}</span>
                                </td>
                                <td>${task.nickname}</td>
                                <td>${task.enrolledAt}</td>
                                <td>
                                        <span
                                              class="taskStatusSpan"
                                              data-tstatus="${task.taskStatusValue}"
                                              style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 3px 11px 1px; border-radius: 1px;">
                                        ${task.taskStatusValue}</span>
                                </td>
                                <td>
                                    <span>조회수: ${task.viewCnt}</span>
                                    <span>댓글수: ${task.replyCnt}</span>
                                </td>
                            </tr>

                `;
                        });
                        tableBody.html(taskListHtml);
                        applyTaskStatusColors();
                        applyCategoryColor();

                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });

        });
    </script>

</head>

<body>
<div layout:fragment="content">

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="../home.html"><i class="fa fa-home"></i> Home</a>
                    <span>게시글 조회</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form"><h5 align="center">전체 게시판</h5></div>
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr align="right">
                            <td colspan="5" align="right">
                                <div class="col-lg-6">
                                    <form th:action="@{/task/task-list}" method="get" class="discount__content">
                                        <select name="categoryId">
                                            <option value="0" selected>카테고리 전체</option>
                                            <option th:each="category : ${categoryList}"
                                                    th:value="${category.categoryId}"
                                                    th:text="${category.categoryNm}">
                                            </option>
                                        </select>
                                        <input type="text" id="searchBoxKeyword" placeholder="제목 검색" name="keyword"/>
                                        <input type="submit" class="site-btn" value="검색"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>제목 / 카테고리</th>
                            <th>유저</th>
                            <th>등록날짜</th>
                            <th>진행여부</th>
                            <th>기타</th>
                        </tr>
                        </thead>
                        <tbody id="taskList">
                            <tr th:each="mainTaskMap : ${mainTaskListMap}">
                                <td class="cart__product__item">
                                    <div class="cart__product__item__title">
                                        <a th:href="@{/task/task-detail(mainTaskId=${mainTaskMap.mainTaskId})}"
                                           th:text="${mainTaskMap.mainSubject}"></a>
                                    </div>
                                    <span th:text="${mainTaskMap.categoryNm}"
                                          class="categoryNmSpan"
                                          th:data-category="${mainTaskMap.categoryNm}"
                                          style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 10px;">
                                        </span>
                                </td>
                                <td th:text="${mainTaskMap.nickname}"></td>
                                <td th:text="${mainTaskMap.enrolledAt}"></td>
                                <td>
                                        <span th:text="${mainTaskMap.taskStatusValue}"
                                              class="taskStatusSpan"
                                              th:data-tstatus="${mainTaskMap.taskStatusValue}"
                                              style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 3px 11px 1px; border-radius: 1px;">
                                        </span>
                                </td>
                                <td>
                                    <span th:text="'조회수: ' + ${mainTaskMap.viewCnt}"></span>
                                    <span th:text="'댓글수: ' + ${mainTaskMap.replyCnt}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <th:block>
                        </br>
                        <tr align="center">
                            <td colspan="2">
                                <a th:href="@{/task/create-task}">게시물 등록</a>
                            </td>
                        </tr>
                    </th:block>
                    </br>
                    </br>
                    <div class="pagination__option">
                        <th:block th:if="${nOfPages > 0}">
                            <th:block th:each="page : ${#numbers.sequence(1, nOfPages)}">
                                <a class="page-link" th:data-page="${page}" th:text="${page}" style="cursor: pointer;"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</div>

</body>

</html>