<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List | Total List</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">


    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <script th:inline="javascript">
        let selectedCategoryId = [[${selectedCategoryId}]];  // The categoryId is passed from the controller
    </script>
    <script>
        $(document).ready(function () {
            // Set the selected category based on the categoryId
            if (selectedCategoryId != null) {
                $("select[name='categoryId']").val(selectedCategoryId);
            }

            $(".categoryNmSpan").each(function () {
                // Get the category name from the data attribute
                let categoryNm = $(this).data('category').trim();
                // Change the background color based on the category name
                switch (categoryNm) {
                    case "학업":
                        $(this).css("background", "#ED2A2AFF");
                        break;
                    case "건강":
                        $(this).css("background", "green");
                        break;
                    case "자격증":
                        $(this).css("background", "purple");
                        break;
                    case "취미":
                        $(this).css("background", "blue");
                        break;
                    case "기타":
                        $(this).css("background", "lightgray");
                        break;
                    default:
                        $(this).css("background", "lightgray");
                }
            });

            $(".taskStatusSpan").each(function () {
                // Get the task status from the data attribute
                let taskStatus = $(this).data("tstatus");  // Replace "task-status" with the actual attribute

                // Apply background color based on the task status value
                switch (taskStatus) {
                    case "진행전":
                        $(this).css("background", "#d3d3d3"); // Light Gray
                        break;
                    case "진행중":
                        $(this).css("background", "#28a745"); // Green
                        break;
                    case "완료":
                        $(this).css("background", "#007bff"); // Blue
                        break;
                    case "실패":
                        $(this).css("background", "#dc3545"); // Red
                        break;
                    default:
                        $(this).css("background", "grey");
                }
            });

        });
    </script>


</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="../home.html"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <nav class="header__menu">
                    <ul>
                        <li><a href="../home.html">Home</a></li>
                        <li class="active"><a th:href="@{/task/task-list}">게시글 조회</a></li>
                        <li><a th:href="@{/task/create-task}">게시글 등록</a></li>
                        <li><a href="../user/user-list.html">유저 검색</a></li>
                        <li><a href="../profile.html">마이페이지</a>
                            <ul class="dropdown">
                                <li><a href="../profile.html">내 정보</a></li>
                                <li><a href="../profile-update.html">회원정보 수정</a></li>
                                <li><a href="../profile-remove.html">회원탈퇴</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a href="../login.html">로그인</a>
                        <a href="../sign-up.html">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="../home.html"><i class="fa fa-home"></i> Home</a>
                    <span>게시글 조회</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form"><h5 align="center">전체 게시판</h5></div>
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr align="right">
                            <td colspan="5" align="right">
                                <div class="col-lg-6">
                                    <form th:action="@{/task/task-list}" method="post" class="discount__content">
                                        <select name="categoryId">
                                            <option value="0" selected>카테고리 전체</option>
                                            <option th:each="category : ${categoryList}"
                                                    th:value="${category.categoryId}"
                                                    th:text="${category.categoryNm}">
                                            </option>
                                        </select>
                                        <input type="text" placeholder="제목 검색" name="keyword"/>
                                        <input type="submit" class="site-btn" value="검색"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>제목 / 카테고리</th>
                            <th>유저</th>
                            <th>등록날짜</th>
                            <th>진행여부</th>
                            <th>기타</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:fragment="taskRows">
                            <tr th:each="mainTaskMap : ${mainTaskListMap}">
                                <td class="cart__product__item">
                                    <div class="cart__product__item__title">
                                        <a th:href="@{/task/task-detail(mainTaskId=${mainTaskMap.mainTaskId})}"
                                           th:text="${mainTaskMap.mainSubject}"></a>
                                    </div>
                                    <span th:text="${mainTaskMap.categoryNm}"
                                          class="categoryNmSpan"
                                          th:data-category="${mainTaskMap.categoryNm}"
                                          style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 10px;">
                                        </span>
                                </td>
                                <td th:text="${mainTaskMap.nickname}"></td>
                                <td th:text="${mainTaskMap.enrolledAt}"></td>
                                <td>
                                        <span th:text="${mainTaskMap.taskStatusValue}"
                                              class="taskStatusSpan"
                                              th:data-tstatus="${mainTaskMap.taskStatusValue}"
                                              style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 3px 11px 1px; border-radius: 1px;">
                                        </span>
                                </td>
                                <td>
                                    <span th:text="'조회수: ' + ${mainTaskMap.viewCnt}"></span>
                                    <span th:text="'댓글수: ' + ${mainTaskMap.replyCnt}"></span>
                                </td>
                            </tr>
                        </div>
                        <th:block>
                            <tr align="center">
                                <td colspan="2">
                                    <a th:href="@{/task/create-task}">게시물 등록</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text">
            <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a></p>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
    </div>
    </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>