<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">


<head>


    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
    />
    <style>
        .oswald-font {
            font-family: "Oswald", sans-serif;
        }
        .bebas-font {
            font-family: "Bebas Neue", sans-serif; /* Bebas Neue 폰트를 사용하는 클래스 */
            font-weight: 700;
        }
        .custom-table {
            width: 100%;
            border-collapse: separate; /* 테이블 셀 간의 간격을 띄우기 위해 필요 */
            border-spacing: 15px; /* 셀 간 간격을 15px로 설정 */
        }
        .custom-table th,
        .custom-table td {
            padding: 2px; /* 셀 안의 여백 */
            text-align: center; /* 글자들을 가운데 정렬 */
            font-size: 24px;
        }
        .custom-table th img {
            text-align: left; /* 이미지는 왼쪽 정렬 */
            display: block; /* 이미지를 블록 요소로 만들어 왼쪽에 붙도록 설정 */
            margin-left: 0; /* 왼쪽 여백 제거 */
        }
        .center-align {
            text-align: center; /* 가운데 정렬 */
        }
    </style>
</head>

<body>
<div layout:fragment="content">

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> MyPage</a>
                    <span>MyProfile</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
<!--            <div class="col-lg-3 col-md-3">-->
<!--                <div class="shop__sidebar">-->
<!--                    <div>-->
<!--                        <div class="section-title">-->
<!--                            <h4>MyPage</h4>-->
<!--                        </div>-->
<!--                        <div class="categories__accordion">-->
<!--                            <div class="accordion" id="accordionExample">-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./profile.html">MyProfile</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./user-update.html">ProfileUpdate</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./user-remove.html">User RM</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="contact__form">
                        <h5 th:text="${userDTO.nickname}"></h5>
                    </div>

                    <div class="container">
                        <div class="footer__logo">
                            <table class="custom-table">
                                <tr>
                                    <th th rowspan="2">
                                        <a><img th:src="@{/user/thumbnails(fileName=${userDTO.profileUuid})}" alt="" /></a>
                                    </th>
                                    <th style="font-size: 24px">팔로워</th>
                                    <th style="font-size: 24px">팔로잉</th>
                                </tr>
                                <tr>
                                    <th style="font-size: 24px" th:text="|${followerCount} 명|"></th>
                                    <th style="font-size: 24px" th:text="|${followingCount} 명|"></th>
                                </tr>
                                <tr>

                                </tr>
                            </table>
                        </div>
                        <p style="font-size: 24px" class="bebas-font" th:text="${userDTO.name}"></p>
                        <br />
                        <p class="bebas-font" th:text="${userDTO.ambitionQuote}"></p>
                        <br />
                        <h5 class="oswald-font center-align" th:text="${progress}"></h5>
                    </div>
                    <!-- Shop Cart Section Begin -->
                    <section class="shop-cart spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="shop__cart__table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>My Todo List</th>
                                            </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Like</th>
                                                <th>status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="cart__product__item">
                                                    <div class="cart__product__item__title">
                                                        <h6>Todo Title</h6>
                                                    </div>
                                                </td>
                                                <td class="cart__price">category</td>
                                                <td class="cart__total">LikeCnt</td>
                                                <td class="cart__total">status</td>
                                                <td class="cart__close">
                                                    <span class="icon_close"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cart__product__item">
                                                    <div class="cart__product__item__title">
                                                        <h6>Todo Title</h6>
                                                    </div>
                                                </td>
                                                <td class="cart__price">category</td>
                                                <td class="cart__total">LikeCnt</td>
                                                <td class="cart__total">status</td>
                                                <td class="cart__close">
                                                    <span class="icon_close"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cart__product__item">
                                                    <div class="cart__product__item__title">
                                                        <h6>Todo Title</h6>
                                                    </div>
                                                </td>
                                                <td class="cart__price">category</td>
                                                <td class="cart__total">LikeCnt</td>
                                                <td class="cart__total">status</td>
                                                <td class="cart__close">
                                                    <span class="icon_close"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cart__product__item">
                                                    <div class="cart__product__item__title">
                                                        <h6>Todo Title</h6>
                                                    </div>
                                                </td>
                                                <td class="cart__price">category</td>
                                                <td class="cart__total">LikeCnt</td>
                                                <td class="cart__total">status</td>
                                                <td class="cart__close">
                                                    <span class="icon_close"></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="pagination__option">
                                    <a href="#">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Shop Cart Section End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
</div>
</body>
</html>