<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">


<head>


    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
    />
    <style>
        .oswald-font {
            font-family: "Oswald", sans-serif;
        }
        .bebas-font {
            font-family: "Bebas Neue", sans-serif; /* Bebas Neue 폰트를 사용하는 클래스 */
            font-weight: 700;
        }
        .custom-table {
            width: 100%;
            border-collapse: separate; /* 테이블 셀 간의 간격을 띄우기 위해 필요 */
            border-spacing: 15px; /* 셀 간 간격을 15px로 설정 */
        }
        .custom-table th,
        .custom-table td {
            padding: 2px; /* 셀 안의 여백 */
            text-align: center; /* 글자들을 가운데 정렬 */
            font-size: 24px;
        }
        .custom-table th img {
            text-align: left; /* 이미지는 왼쪽 정렬 */
            display: block; /* 이미지를 블록 요소로 만들어 왼쪽에 붙도록 설정 */
            margin-left: 0; /* 왼쪽 여백 제거 */
        }
        .center-align {
            text-align: center; /* 가운데 정렬 */
        }
    </style>
    <script>
        $(document).ready(function() {
            applyTaskStatusColors();
            function applyTaskStatusColors() {
                $(".taskStatusSpan").each(function () {
                    let taskStatus = $(this).data("tstatus"); // Ensure this matches the data attribute in HTML

                    switch (taskStatus) {
                        case "진행전":
                            $(this).css("background", "#d3d3d3"); // Light Gray
                            break;
                        case "진행중":
                            $(this).css("background", "#28a745"); // Green
                            break;
                        case "완료":
                            $(this).css("background", "#007bff"); // Blue
                            break;
                        case "실패":
                            $(this).css("background", "#dc3545"); // Red
                            break;
                        default:
                            $(this).css("background", "grey");
                    }
                });
            }

            applyCategoryColor();
            function applyCategoryColor() {
                $(".categoryNmSpan").each(function () {
                    // Get the category name from the data attribute
                    let categoryNm = $(this).data('category').trim();
                    // Change the background color based on the category name
                    switch (categoryNm) {
                        case "학업":
                            $(this).css("background", "#ED2A2AFF");
                            break;
                        case "건강":
                            $(this).css("background", "green");
                            break;
                        case "자격증":
                            $(this).css("background", "purple");
                            break;
                        case "취미":
                            $(this).css("background", "blue");
                            break;
                        case "기타":
                            $(this).css("background", "lightgray");
                            break;
                        default:
                            $(this).css("background", "lightgray");
                    }
                });
            }


            $(".page-link").click(function () {
                let page = $(this).data('page');
                let userId = "[[${userDTO.userId}]]";
                $.ajax({
                    url: "/user/user-detail-nextpage",
                    type: "POST",
                    data: { page: page,
                            userId: userId},
                    success: function (mainTaskList) {
                        // Assuming `mainTaskList` is an array of objects containing the task details
                        let tableBody = $("#taskList"); // Target the table body (adjust selector as needed)

                        // Iterate over the response and append rows
                        let taskListHtml = "";
                        mainTaskList.forEach(task => {
                            taskListHtml += `
                    <tr>
                        <td class="cart__product__item">
                            <div class="cart__product__item__title">
                                <a href="/task/task-detail?mainTaskId=${task.mainTaskId}">${task.mainSubject}</a>
                            </div>
                        </td>
                        <td class="cart__price">
                            <span class="categoryNmSpan"
                                  style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 10px;"
                                  data-category="${task.categoryNm}">
                                ${task.categoryNm}
                            </span>
                        </td>
                        <td class="cart__total">${task.likeCnt}</td>
                        <td class="cart__total">
                            <span class="taskStatusSpan"
                                  style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 3px 11px 1px; border-radius: 1px;"
                                  data-tstatus="${task.taskStatusValue}">
                                ${task.taskStatusValue}
                            </span>
                        </td>
                        <td class="blog__details__tags">
                            <a href="/task/my-profile/task-delete?mainTaskId=${task.mainTaskId}" onclick="return confirmDelete(event, this)">X</a>
                        </td>
                    </tr>
                `;
                        });
                        tableBody.html(taskListHtml);
                        applyTaskStatusColors();
                        applyCategoryColor();

                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
        });

    </script>
</head>

<body>
<div layout:fragment="content">

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> MyPage</a>
                    <span>MyProfile</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
<!--            <div class="col-lg-3 col-md-3">-->
<!--                <div class="shop__sidebar">-->
<!--                    <div>-->
<!--                        <div class="section-title">-->
<!--                            <h4>MyPage</h4>-->
<!--                        </div>-->
<!--                        <div class="categories__accordion">-->
<!--                            <div class="accordion" id="accordionExample">-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./profile.html">MyProfile</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./user-update.html">ProfileUpdate</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                                <div class="card-heading">-->
<!--                                    <a href="./user-remove.html">User RM</a>-->
<!--                                </div>-->
<!--                                <br />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="contact__form">
                        <h5 th:text="${userDTO.nickname}"></h5>
                    </div>

                    <div class="container">
                        <div class="footer__logo">
                            <table class="custom-table">
                                <tr>
                                    <th th rowspan="2">
                                        <a><img th:src="@{/user/thumbnails(fileName=${userDTO.profileUuid})}" alt="" width="100" height="100"/></a>
                                    </th>
                                    <th style="font-size: 24px">팔로워</th>
                                    <th style="font-size: 24px">팔로잉</th>
                                </tr>
                                <tr>
                                    <th style="font-size: 24px" th:text="|${followerCount} 명|"></th>
                                    <th style="font-size: 24px" th:text="|${followingCount} 명|"></th>
                                </tr>
                                <tr>

                                </tr>
                            </table>
                        </div>
                        <p style="font-size: 24px" class="bebas-font" th:text="${userDTO.name}"></p>
                        <br />
                        <p class="bebas-font" th:text="${userDTO.ambitionQuote}"></p>
                        <br />
                        <h5 class="oswald-font center-align" th:text="${progress}"></h5>
                    </div>
                    <!-- Shop Cart Section Begin -->
                    <section class="shop-cart spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="shop__cart__table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>My Todo List</th>
                                            </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Like</th>
                                                <th>status</th>
                                            </tr>
                                            </thead>
                                            <tbody id="taskList" th:if="${not #lists.isEmpty(mainTaskListMap)}">
                                            <tr th:each="mainTaskMap : ${mainTaskListMap}">
                                                <td class="cart__product__item">
                                                    <div class="cart__product__item__title">
                                                        <a th:href="@{/task/task-detail(mainTaskId=${mainTaskMap.mainTaskId})}" th:text="${mainTaskMap.mainSubject}"></a>
                                                    </div>
                                                </td>
                                                <td class="cart__price">
                                                  <span th:text="${mainTaskMap.categoryNm}"
                                                        class="categoryNmSpan"
                                                        th:data-category="${mainTaskMap.categoryNm}"
                                                        style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 10px;">
                                                  </span>
                                                </td>
                                                <td class="cart__total" th:text="${mainTaskMap.likeCnt}"></td>
                                                <td class="cart__total" >
                                                    <span th:text="${mainTaskMap.taskStatusValue}"
                                                          class="taskStatusSpan"
                                                          th:data-tstatus="${mainTaskMap.taskStatusValue}"
                                                          style="font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 3px 11px 1px; border-radius: 1px;">
                                                    </span>
                                                </td>
                                                <td class="blog__details__tags">
                                                    <a th:href="@{/task/my-profile/task-delete(mainTaskId=${mainTaskMap.mainTaskId})}" onclick="return confirmDelete(event, this)">X</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody th:if="${#lists.isEmpty(mainTaskListMap)}">
                                            <tr>
                                                <td class="cart__product__item">이 유저가 작성한 게시글이 없습니다.</td>
                                                <td class="cart__price"></td>
                                                <td class="cart__total"> </td>
                                                <td class="cart__total"> </td>
                                                <td class="blog__details__tags"> </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="pagination__option">
                                    <th:block th:if="${nOfPages > 0}">
                                        <th:block th:each="page : ${#numbers.sequence(1, nOfPages)}">
                                            <a class="page-link" th:data-page="${page}" th:text="${page}"></a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>

                    </div>
                    </section>
                    <!-- Shop Cart Section End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
</div>
</body>
</html>