<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">


</head>

<body>
<div layout:fragment="content">
    <!-- Trend Section Begin -->
    <section class="trend spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>조회수 top 3</h4>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/ht-1.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
<!--                                <div class="rating">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
                                <h5>작성자</h5>
                                <h6>조회수</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/ht-2.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/ht-3.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>좋아요 top 3</h4>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/bs-1.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>좋아요</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/bs-2.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/bs-3.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>댓글 top 3</h4>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/f-1.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/f-2.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="../static/img/trend/f-3.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h3 class="product__price">제목</h3>
                                <h5>작성자</h5>
                                <h6>댓글수</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trend Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="section-title col-lg-4 col-md-4 col-sm-6" >
            <h4>베스트 유저</h4>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="../static/img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1>유저1</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                        edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="#">Show details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                            <div class="categories__text">
                                <h4>유저2</h4>
                                <p>358 items</p>
                                <a href="#">Show details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>유저3</h4>
                                <p>273 items</p>
                                <a href="#">Show details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
                            <div class="categories__text">
                                <h4>유저4</h4>
                                <p>159 items</p>
                                <a href="#">Show details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4>유저5</h4>
                                <p>792 items</p>
                                <a href="#">Show details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>

</html>