<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.planetnow.user.PointDAO">

    <select id="getPointList" resultType="PointDTO">
        SELECT *
        FROM POINT
    </select>
    
    <select id="getReplyPoint" resultType="PointDTO" >
    	SELECT *
    	FROM	POINT
    	WHERE	ACTION = "댓글"
    </select>
    
    <select id="getLikePoint" resultType="PointDTO">
    	SELECT	*
    	FROM	POINT
    	WHERE	ACTION = "좋아요"
    </select>

</mapper>