<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.application.planetnow.user.UserDAO">




    <select id="validEmailResult" parameterType="String" resultType="String">
        SELECT EMAIL
        FROM USER
        WHERE EMAIL = #{email}


    </select>
    <select id="validNicknameResult" parameterType="String" resultType="String">
        SELECT NICKNAME
        FROM USER
        WHERE NICKNAME = #{nickname}


    </select>


    <insert id="saveUser" parameterType="userDTO">
        INSERT INTO USER(NAME,
                         EMAIL,
                         NICKNAME,
                         PASSWORD,
                         BIRTH_TIMESTAMP,
                         SEX,
                         PHONE_NUMBER,
                         ZIPCODE,
                         ROAD_ADDRESS,
                         JIBUN_ADDRESS,
                         ETC_ADDRESS,
                         PROFILE_ORIGINAL_NAME,
                         PROFILE_UUID,
                         AMBITION_QUOTE,
                         LEVEl_ID,
                         TOTAL_POINT,
                         ENROLLED_AT,
                         MODIFIED_AT,
                         ROLE
        )
        VALUES(#{name},
               #{email},
               #{nickname},
               #{password},
               #{birthTimestamp},
               #{sex},
               #{phoneNumber},
               #{zipcode},
               #{roadAddress},
               #{jibunAddress},
               #{etcAddress},
               #{profileOriginalName},
               #{profileUuid},
               #{ambitionQuote},
               #{levelId},
               #{totalPoint},
               NOW(),
               NOW(),
               #{role}
              )


    </insert>
    <select id="loginResult" parameterType="UserDTO" resultType="UserDTO">
        SELECT *
        FROM USER
        WHERE EMAIL =#{email}

    </select>


    <update id="updateUser" parameterType="UserDTO">
        UPDATE USER
        SET
            NAME = #{name},
            EMAIL = #{email},
            NICKNAME = #{nickname},
            PASSWORD = #{password},
            BIRTH_TIMESTAMP = #{birthTimestamp},
            SEX = #{sex},
            PHONE_NUMBER = #{phoneNumber},
            ZIPCODE = #{zipcode},
            ROAD_ADDRESS = #{roadAddress},
            JIBUN_ADDRESS = #{jibunAddress},
            ETC_ADDRESS = #{etcAddress},
            PROFILE_ORIGINAL_NAME = #{profileOriginalName},
            PROFILE_UUID = #{profileUuid},
            AMBITION_QUOTE = #{ambitionQuote},
            LEVEL_ID = #{levelId},
            TOTAL_POINT = #{totalPoint},
            ENROLLED_AT = #{enrolledAt},
            MODIFIED_AT = #{modifiedAt},
            ROLE = #{role}
        WHERE USER_ID = #{userId}
    </update>
    <select id="getUserDetail" parameterType="String">
        SELECT *
        FROM USER
        WHERE EMAIL=#{email}
    </select>
    <select id="getUserDetailById" parameterType="Long">
        SELECT *
        FROM USER
        WHERE USER_ID=#{userId}
    </select>
    <delete id="removeUserResult" parameterType="String">
        DELETE FROM USER
        WHERE EMAIL=#{email}
    </delete>
    <update id="update" parameterType="UserDTO">
        UPDATE USER
        SET NICKNAME =#{nickname},
        PHONE_NUMBER = #{phoneNumber},
        ZIPCODE = #{zipcode},
        ROAD_ADDRESS = #{roadAddress},
        JIBUN_ADDRESS = #{jibunAddress},
        ETC_ADDRESS = #{etcAddress},
        PROFILE_ORIGINAL_NAME = #{profileOriginalName},
        PROFILE_UUID = #{profileUuid},
        AMBITION_QUOTE = #{ambitionQuote},
        MODIFIED_AT=NOW()
        <if test="password != null and password != ''">
            , PASSWORD = #{password}
        </if>
        WHERE USER_ID=#{userId}




    </update>
    <resultMap id="userOtherInfo" type="hashmap" >
        <result column="USER_ID"  	       property="userId"/>
        <result column="NAME"              property="name"/>
        <result column="NICKNAME"          property="nickname"/>
        <result column="PROFILE_UUID"      property="profileUuid"/>
        <result column="AMBITION_QUOTE"    property="ambitionQuote"/>
        <result column="POST_COUNT"        property="postCount"/>
        <result column="FOLLOWER_COUNT"    property="followerCount"/>
        <result column="FOLLOWING_COUNT"   property="followingCount"/>
        <result column="MAIN_TASK_ID"      property="mainTaskId"/>

    </resultMap>
    <select id="searchUser" parameterType="String" resultMap="userOtherInfo">
        SELECT
            U.USER_ID AS USER_ID,
            U.NAME AS NAME,
            U.NICKNAME AS NICKNAME,
            U.PROFILE_UUID AS PROFILE_UUID,
            U.AMBITION_QUOTE AS AMBITION_QUOTE,
            COUNT(DISTINCT MT.MAIN_TASK_ID) AS POST_COUNT,
            COUNT(DISTINCT F1.FOLLOWER_ID) AS FOLLOWER_COUNT,
            COUNT(DISTINCT F2.FOLLOWEE_ID) AS FOLLOWING_COUNT
        FROM USER U
            LEFT JOIN MAIN_TASK MT ON U.USER_ID = MT.USER_ID
            LEFT JOIN FOLLOW F1 ON U.USER_ID = F1.FOLLOWEE_ID
            LEFT JOIN FOLLOW F2 ON U.USER_ID = F2.FOLLOWER_ID
        WHERE U.NAME LIKE CONCAT(#{input}, '%')
           OR U.NICKNAME LIKE CONCAT(#{input}, '%')
        GROUP BY U.USER_ID, U.NAME, U.NICKNAME, U.PROFILE_UUID, U.AMBITION_QUOTE
    </select>
    <select id="getUserProgressRate" parameterType="Long" resultType="MainTaskDTO">
        SELECT *
        FROM MAIN_TASK
        WHERE USER_ID = #{userId}

    </select>

    <select id="getFollowerCount" parameterType="Long" resultType="Long">
        SELECT COUNT(*)
        FROM FOLLOW
        WHERE FOLLOWER_ID = #{userId}
    </select>

    <select id="getFollowingCount" parameterType="Long" resultType="Long">
        SELECT COUNT(*)
        FROM FOLLOW
        WHERE FOLLOWEE_ID = #{userId}
    </select>



</mapper>

