<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">

<head>

    <script>

        $(function(){

        	$("#following2Btn").click(function(){
        		
        		let param = {
        			"followeeId" : $("[name='followeeId']").val(),
        			"followerId" : $("[name='followerId']").val()
        		};
        		console.log(param);
        		
				if ($("#following2Btn").val() == "팔로우") {
        	        
        	        console.log(param);
        	        $.ajax({
        	            url : "/follow/createFollow",
        	            type : "post",
        	            data : $.param(param),
        	            success : function(isSuccess) {
        	                alert("팔로우 성공");
        	                location.reload();
        	            },
        	            error: function (xhr, status, error) {
        	                console.error("Error:", error);
        	                alert("이미 팔로우 중 or 로그인 필요" + error);
        	            }
        	        });
        	        
        	    } else if ($("#following2Btn").val() == "팔로우 취소") {
        	        
        	        console.log(param);
        	        $.ajax({
        	            url : "/follow/deleteFollow",
        	            type : "post",
        	            data : $.param(param),
        	            success : function(isSuccess) {
        	                alert("팔로우 취소");
        	                location.reload();
        	            },
        	            error: function (xhr, status, error) {
        	                console.error("Error:", error);
        	                alert("실패" + error);
        	            }
        	        });
        	        
        	    }
        	});
        	
        	$("#followingBtn").click(function(){
        	    let param = {
        	        "followeeId" : $("#followeeId").val(),
        	        "followerId" : $("#followerId").val()
        	    };
        	    
        	    console.log(param);
        	    if ($("#followingBtn").val() == "맞팔로우") {

        	        $.ajax({
        	            url : "/follow/createFollow",
        	            type : "post",
        	            data : $.param(param),
        	            success : function(isSuccess) {
        	                alert("맞팔로우 성공");
        	                location.reload();
        	            },
        	            error: function (xhr, status, error) {
        	                console.error("Error:", error);
        	                alert("이미 팔로우 중" + error);
        	            }
        	        });

        	    } else if ($("#followingBtn").val() == "맞팔로우 취소") {

        	        console.log(param);
        	        $.ajax({
        	            url : "/follow/deleteFollow",
        	            type : "post",
        	            data : $.param(param),
        	            success : function(isSuccess) {
        	                alert("맞팔로우 취소");
        	                location.reload();
        	            },
        	            error: function (xhr, status, error) {
        	                console.error("Error:", error);
        	                alert("실패" + error);
        	            }
        	        });

        	    }
        	});

        });

    </script>
</head>

<body>
<div layout:fragment="content">

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>팔로잉 유저 검색</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <legend><strong>팔로잉 유저 검색</strong></legend>
                        <thead>
                        <tr align="right">
                            <td colspan="5" align="right" >
                                <div class="col-lg-6">
                                    <div class="discount__content">
                                        <form th:action="@{/follow/following-list}" method="get">
                                            <input type="text" name="searchFollower" placeholder="유저 닉네임 검색창"><br></br>
                                            <input type="hidden" th:value="${userId}" name="userId"/>
                                            <button type="submit" class="site-btn">검색</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>유저</th>
                            <th>게시글 개수</th>
                            <th>댓글 개수</th>
                            <th>팔로잉 수</th>
                            <th>팔로우 버튼</th>
                        </tr>
                        </thead>
                        <tbody>
                         <!-- followerId가 로그인한 유저ID와 같아야 함 -->
                        <tr th:each="followingMap : ${followingListMap}">
                            <td class="cart__product__item">
                                <img th:src="@{/user/thumbnails(fileName=${followingMap.profileUuid})}" width="90" height="90" alt="">
                                <div class="cart__product__item__title">
                                    <input type="hidden" id="followeeId" th:value="${followingMap.userId}">
                                    <h6><a th:href="@{/user/user-detail(userId=${followingMap.userId})}" th:text="${followingMap.nickname}"></a></h6>
                                    <div th:text="${followingMap.ambitionQuote}"></div>
                                </div>
                            </td>
                            <td th:text="|${followingMap.mainTaskCount}개|"></td>
                            <td th:text="|${followingMap.replyCount}개|"></td>
                            <td th:text="|${followingMap.followingCount}명|"></td>
	                         <td th:if="${followingMap.check == -2 && session.userId != nul && followingMap.followeeId != session.userId }">
	                            	<input type="hidden" name="followerId" th:value="${session.userId}" />
	                            	<input type="hidden" name="followeeId" th:value="${followingMap.followeeId}" />
	                            	<input type="button" id="following2Btn" class="site-btn" value="팔로우"/>
	                         </td>
                           	<td th:if="${followingMap.check == 1 && session.userId != null && followingMap.followeeId != session.userId }">
	                           	<input type="hidden" name="followerId" th:value="${session.userId}" />
	                           	<input type="hidden" name="followeeId" th:value="${followingMap.followeeId}" />
	                           	<input type="button" id="following2Btn" class="site-btn" value="팔로우 취소"/>
                           </td>
                           <td th:if="${followingMap.check == -1}">
                            	<input type="hidden" id="followerId" th:value="${session.userId}" />
                                <input type="button" id="followingBtn" class="site-btn" value="맞팔로우" />
                            </td>
                	            <td th:if="${followingMap.check == 2}">
                            	<input type="hidden" id="followerId" th:value="${session.userId}" />
                                <input type="button" id="followingBtn" class="site-btn" value="맞팔로우 취소" />
                            </td>
                            <td th:if="${session.userId == null && followerMap.followerId != session.userId}">
                            	<input type="hidden" id="followerId" th:value="${session.userId}" />
                            	<input type="hidden" id="followeeId" th:value="${followerMap.followerId}" />
                            	<input type="button" id="followingBtn" class="site-btn" value="팔로우" th:onclick="|location.href='@{/user/login}'|"/>
                            </td>
                           <td th:if="${followingMap.followeeId == session.userId}">
                           		<input type="button" id="myPage" class="site-btn" value="My Page" th:onclick="|location.href='@{/user/profile}'|" />
                           </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->


</div>
</body>

</html>